<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NBA Legends</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/assets/logo.png">
</head>

<body>
  <nav>
    <div class="nav">
      <a href="/teams">
        <img src="/assets/nba2.png" class="two columns">
      </a>

      <a href="/players/new"><button type="button" name="button" class="edit-button">New
          Hall-of-Famer</button></a> <!-- Drop down here -->
    </div>
  </nav>
  <div class="col-5  columns">
    </br>
    <h2></br></h2>
    <form action="/players/" method="GET">
      <select name="tid">
        <option value="">Choose Team</option>

        <% for (let i=0; i< teams.length; i++) { %>
        <option value="<%= teams[i].tid %>"><%= teams[i].name %></option>
        <% } %>
      </select>
      <input type="submit">
    </form>
    <div class="products">

      <% players.forEach( function (player) { %>

      <div class="card">
        <h5> <%= player.name  %></h5>
        <a href="/players/<%=player.id%>">
          <img src="<%= player.imgURL %>" alt="An image of <%= player.name %>" /></a>
      </div>
      <% }); %>
    </div>
  </div>

</body>

</html>