<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/assets/logo.png">
</head>

<body>
  <nav>

  </nav>
  <div class="container">
    <h2></h2>
    <div class="jumbo">
      <h3> <%= Player.name  %></h3>
      <img src="<%= Player.imgURL %>" alt="An image of <%= Player.name %>" class="jumbo-img" />
      <p><%=Player.description %></p>

    </div>
    <div class="admin-actions">
      <a href="/Players/<%=Player.id%>/edit"><button type="button" name="button" class="edit-button">Edit</button></a>
      <form action="/Players/<%=Player.id%>?_method=DELETE" method="POST">
        <button class="delete-button">DELETE</button>
      </form>
    </div>
  </div>
</body>

</html>