<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/assets/logo.png">
</head>

<body>
  <nav>
    <div class="nav">
      <a href="/teams">
        <img src="/assets/nba2.png" class="two columns">
      </a>
      <div class="admin-actions">
        <a href="/teams/<%=team.id%>/edit"><button type="button" name="button" class="edit-button">Edit</button></a>
        <form action="/teams/<%=team.id%>?_method=DELETE" method="POST">
          <button class="delete-button">DELETE</button>
        </form>
      </div>
  </nav>
  <div class="container">
    </br>
    <h2></br></h2>
    <div class="jumbo">
      <img src="<%= team.imgURL %>" alt="An image of <%= team.name %>" class="jumbo-img" />
    </div>


    <div class="products">

      <% players.forEach( function (player) { %>

      <div class="card">
        <h5> <%= player.name  %></h5>
        <a href="/players/<%=player.id%>">
          <img src="<%= player.imgURL %>" alt="An image of <%= player.name %>" /></a>
      </div>
      <% }); %>
    </div>
</body>

</html>